:root {
  --color-fondo: #F7F6F2;
  --color-navbar: #1C1C1E;
  --color-acento: #4A9E78;
  --color-tarjeta: #F5F5F0;
  --color-borde: #E0DED8;
  --color-oferta-fondo: #FFF0E6;
  --color-oferta-texto: #993C1D;
  --color-texto-principal: #1C1C1E;
  --color-texto-secundario: #5F5E5A;
  --color-blanco: #ffffff;
}